.flexslider .flex-direction-nav A {
	DISPLAY: none
}
.flexslider .flex-direction-nav A {
	DISPLAY: none
}
.flexslider:hover .flex-direction-nav A {
	DISPLAY: block
}
.flexslider:hover .flex-direction-nav A {
	DISPLAY: block
}
