.ctools-locked {
	BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid; BORDER-BOTTOM: red 1px solid; COLOR: red; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 1em; BORDER-LEFT: red 1px solid; PADDING-RIGHT: 1em
}
.ctools-owns-lock {
	BORDER-TOP: #f0c020 1px solid; BORDER-RIGHT: #f0c020 1px solid; BACKGROUND: #ffffdd 0px 0px; BORDER-BOTTOM: #f0c020 1px solid; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 1em; BORDER-LEFT: #f0c020 1px solid; PADDING-RIGHT: 1em
}
A.ctools-ajaxing {
	BACKGROUND: url(/sites/all/modules/ctools/images/status-active.gif) no-repeat right center; PADDING-RIGHT: 18px !important
}
INPUT.ctools-ajaxing {
	BACKGROUND: url(/sites/all/modules/ctools/images/status-active.gif) no-repeat right center; PADDING-RIGHT: 18px !important
}
BUTTON.ctools-ajaxing {
	BACKGROUND: url(/sites/all/modules/ctools/images/status-active.gif) no-repeat right center; PADDING-RIGHT: 18px !important
}
SELECT.ctools-ajaxing {
	BACKGROUND: url(/sites/all/modules/ctools/images/status-active.gif) no-repeat right center; PADDING-RIGHT: 18px !important
}
DIV.ctools-ajaxing {
	WIDTH: 18px; BACKGROUND: url(/sites/all/modules/ctools/images/status-active.gif) no-repeat center center; FLOAT: left
}
#lightbox {
	WIDTH: 100%; POSITION: absolute; TEXT-ALIGN: center; LEFT: 0px; Z-INDEX: 100; LINE-HEIGHT: 0; TOP: 40px
}
#lightbox A IMG {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
#outerImageContainer {
	OVERFLOW: hidden; HEIGHT: 250px; WIDTH: 250px; MIN-WIDTH: 240px; POSITION: relative; MARGIN: 0px auto; BACKGROUND-COLOR: #fff
}
#imageContainer {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#frameContainer {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#modalContainer {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#modalContainer {
	OVERFLOW: auto; LINE-HEIGHT: 1em
}
#loading {
	HEIGHT: 25%; WIDTH: 100%; POSITION: absolute; TEXT-ALIGN: center; LEFT: 45%; LINE-HEIGHT: 0; TOP: 40%
}
#hoverNav {
	HEIGHT: 100%; WIDTH: 100%; POSITION: absolute; LEFT: 0px; Z-INDEX: 10; TOP: 0px
}
#imageContainer > #hoverNav {
	LEFT: 0px
}
#frameHoverNav {
	HEIGHT: 45px; WIDTH: 20%; POSITION: absolute; MARGIN-LEFT: auto; Z-INDEX: 10; BOTTOM: 0px; MARGIN-RIGHT: auto
}
#imageData > #frameHoverNav {
	LEFT: 0px
}
#hoverNav A {
	OUTLINE-WIDTH: medium; OUTLINE-STYLE: none; OUTLINE-COLOR: invert
}
#frameHoverNav A {
	OUTLINE-WIDTH: medium; OUTLINE-STYLE: none; OUTLINE-COLOR: invert
}
#prevLink {
	HEIGHT: 100%; WIDTH: 49%; BACKGROUND: url(/sites/all/modules/lightbox2/images/blank.gif) no-repeat; DISPLAY: block
}
#nextLink {
	HEIGHT: 100%; WIDTH: 49%; BACKGROUND: url(/sites/all/modules/lightbox2/images/blank.gif) no-repeat; DISPLAY: block
}
#prevLink {
	FLOAT: left; LEFT: 0px
}
#framePrevLink {
	FLOAT: left; LEFT: 0px
}
#nextLink {
	RIGHT: 0px; FLOAT: right
}
#frameNextLink {
	RIGHT: 0px; FLOAT: right
}
#prevLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev.gif) no-repeat left 15%
}
#prevLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev.gif) no-repeat left 15%
}
.force_show_nav#prevLink {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev.gif) no-repeat left 15%
}
#framePrevLink {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev.gif) no-repeat left 15%
}
#nextLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next.gif) no-repeat right 15%
}
#nextLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next.gif) no-repeat right 15%
}
.force_show_nav#nextLink {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next.gif) no-repeat right 15%
}
#frameNextLink {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next.gif) no-repeat right 15%
}
.force_show_nav#prevLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev_hover.gif) no-repeat left 15%
}
.force_show_nav#prevLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev_hover.gif) no-repeat left 15%
}
#framePrevLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev_hover.gif) no-repeat left 15%
}
#framePrevLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/prev_hover.gif) no-repeat left 15%
}
.force_show_nav#nextLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next_hover.gif) no-repeat right 15%
}
.force_show_nav#nextLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next_hover.gif) no-repeat right 15%
}
#frameNextLink:hover {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next_hover.gif) no-repeat right 15%
}
#frameNextLink:hover:visited {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/next_hover.gif) no-repeat right 15%
}
#framePrevLink {
	HEIGHT: 45px; WIDTH: 45px; POSITION: absolute; DISPLAY: block; BOTTOM: 0px
}
#frameNextLink {
	HEIGHT: 45px; WIDTH: 45px; POSITION: absolute; DISPLAY: block; BOTTOM: 0px
}
#imageDataContainer {
	MIN-WIDTH: 240px; FONT: 10px/1.4em Verdana, Helvetica, sans-serif; MARGIN: 0px auto; BACKGROUND-COLOR: #fff
}
#imageData {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#imageData #imageDetails {
	WIDTH: 70%; FLOAT: left; TEXT-ALIGN: left
}
#imageData #caption {
	FONT-WEIGHT: bold
}
#imageData #numberDisplay {
	PADDING-BOTTOM: 1em; CLEAR: left; DISPLAY: block
}
#imageData #lightbox2-node-link-text {
	PADDING-BOTTOM: 1em; DISPLAY: block
}
#imageData #bottomNav {
	HEIGHT: 66px
}
.lightbox2-alt-layout #imageData #bottomNav {
	MARGIN-BOTTOM: 60px
}
.lightbox2-alt-layout-data #bottomNav {
	MARGIN-BOTTOM: 60px
}
#lightbox2-overlay {
	HEIGHT: 500px; WIDTH: 100%; POSITION: absolute; LEFT: 0px; Z-INDEX: 90; TOP: 0px; BACKGROUND-COLOR: #000
}
#overlay_default {
	opacity: 0.6
}
#overlay_macff2 {
	BACKGROUND: url(/sites/all/modules/lightbox2/images/overlay.png)
}
.clearfix:after {
	HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
* HTML > BODY .clearfix {
	WIDTH: 100%; DISPLAY: inline
}
* HTML .clearfix {
	HEIGHT: 1%
}
#bottomNavClose {
	HEIGHT: 26px; WIDTH: 26px; BACKGROUND: url(/sites/all/modules/lightbox2/images/close.gif) no-repeat left 50%; FLOAT: right; PADDING-TOP: 0.7em; MARGIN-TOP: 33px; DISPLAY: block
}
#bottomNavClose:hover {
	BACKGROUND-POSITION: right 50%
}
#loadingLink {
	HEIGHT: 32px; WIDTH: 32px; BACKGROUND: url(/sites/all/modules/lightbox2/images/loading.gif) no-repeat; DISPLAY: block
}
#bottomNavZoom {
	HEIGHT: 34px; WIDTH: 34px; BACKGROUND: url(/sites/all/modules/lightbox2/images/expand.gif) no-repeat; POSITION: relative; FLOAT: right; LEFT: 30px; DISPLAY: none
}
#bottomNavZoomOut {
	HEIGHT: 34px; WIDTH: 34px; BACKGROUND: url(/sites/all/modules/lightbox2/images/contract.gif) no-repeat; POSITION: relative; FLOAT: right; LEFT: 30px; DISPLAY: none
}
#lightshowPlay {
	MARGIN-BOTTOM: 1px; HEIGHT: 20px; WIDTH: 20px; BACKGROUND: url(/sites/all/modules/lightbox2/images/play.png) no-repeat; FLOAT: right; MARGIN-TOP: 42px; MARGIN-RIGHT: 5px
}
#lightshowPause {
	MARGIN-BOTTOM: 1px; HEIGHT: 20px; WIDTH: 20px; BACKGROUND: url(/sites/all/modules/lightbox2/images/pause.png) no-repeat; FLOAT: right; MARGIN-TOP: 42px; MARGIN-RIGHT: 5px
}
.lightbox2-alt-layout-data #bottomNavClose {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout #bottomNavClose {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout-data #bottomNavZoom {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout-data #bottomNavZoomOut {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout #bottomNavZoom {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout #bottomNavZoomOut {
	MARGIN-TOP: 93px
}
.lightbox2-alt-layout-data #lightshowPlay {
	MARGIN-TOP: 102px
}
.lightbox2-alt-layout-data #lightshowPause {
	MARGIN-TOP: 102px
}
.lightbox2-alt-layout #lightshowPlay {
	MARGIN-TOP: 102px
}
.lightbox2-alt-layout #lightshowPause {
	MARGIN-TOP: 102px
}
.lightbox_hide_image {
	DISPLAY: none
}
#lightboxImage {
	-MS-INTERPOLATION-MODE: bicubic
}
.text-format-wrapper .wysiwyg-toggle-wrapper {
	DISPLAY: none
}
.text-format-wrapper .filter-wrapper {
	DISPLAY: none
}
.lab-display {
	WIDTH: 100%; POSITION: relative
}
.lab-display-item {
	CURSOR: pointer; WIDTH: 100px; DISPLAY: inline-block; MARGIN-RIGHT: 5px; opacity: 0.5
}
.lab-display-item:hover {
	opacity: 1
}
.active.lab-display-item {
	opacity: 1
}
.lab-display-item > DIV {
	HEIGHT: 20px; BACKGROUND: #000; DISPLAY: inline-block; MARGIN-RIGHT: 1%
}
.lab-display-processed {
	DISPLAY: none
}
.cols-1#field-sections-add-more-wrapper .col-2 {
	DISPLAY: none
}
.cols-1#field-sections-add-more-wrapper .col-3 {
	DISPLAY: none
}
.cols-1#field-sections-add-more-wrapper .col-4 {
	DISPLAY: none
}
.cols-2#field-sections-add-more-wrapper .col-3 {
	DISPLAY: none
}
.cols-2#field-sections-add-more-wrapper .col-4 {
	DISPLAY: none
}
.cols-3#field-sections-add-more-wrapper .col-4 {
	DISPLAY: none
}
